.woocommerce_options_panel .rental_prices_fields {
    padding: 0 9px 0 162px;
    position: relative;
    margin: 9px 0;
    display: none;
}
.woocommerce_options_panel .rental_prices_fields table {
    width: 100%;
    padding: 0!important;
}
.woocommerce_options_panel .rental_prices_fields label {
    position: absolute;
    left: 0;
    margin: 0 0 0 12px;
    line-height: 24px;
}
.woocommerce_options_panel .rental_prices_fields table td {
    vertical-align: middle;
}
.woocommerce_options_panel .rental_prices_fields table tr td {
    border-bottom: 1px solid #dddddd;
}
.woocommerce_options_panel .rental_prices_fields table tr:last-child td {
    border-bottom: none;
}
.woocommerce_options_panel .rental_prices_fields table td .delete {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    font-size: 1.2em;
}
.woocommerce_options_panel .rental_prices_fields table td.sort {
    width: 17px;
    cursor: move;
    font-size: 15px;
    text-align: center;
    background: #f9f9f9;
    padding-right: 7px!important;
}
.woocommerce_options_panel .rental_prices_fields table td.sort:before {
    content: '\f333';
    font-family: Dashicons;
    text-align: center;
    line-height: 1;
    color: #999;
    display: block;
    width: 17px;
    float: left;
    height: 100%;
}
.woocommerce_options_panel .rental_prices_fields table td .delete:before {
    font-family: Dashicons;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-indent: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "ï…“";
    color: rgb(153, 153, 153);
    font-variant: normal;
    margin: 0px;
}
.woocommerce_options_panel .rental_prices_fields table td input {
    width: 100%;
}
.woocommerce_options_panel .rental_prices_fields table td div.rental_price_left {
    width: 50%;
    float: left;
}
.woocommerce_options_panel .rental_prices_fields table td div.rental_price_right {
    width: 50%;
    float: left;
}
@media only screen and (max-width: 1280px){
    .woocommerce_options_panel .rental_prices_fields {
        padding: 0;
        clear: both;
    }
    .woocommerce_options_panel .rental_prices_fields table {
        margin: 0 12px 24px;
        width: 94%;
    }
    .woocommerce_options_panel .rental_prices_fields label {
        position: static;
    }
}